.header {
    a {
        color: cornsilk;
        text-decoration: none;
        transition: 0.3s;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    a:hover {
        opacity: 0.7;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 8vh;
    }

    form {
        display: flex;

        input {
            height: 35px;
            border-radius: 10px;
            border: none;
            margin-top: 2px;
        }
    }
}
.container {
    display: flex;
    justify-content: space-between;
    padding:20px;
    .cad {
        align-items: center;
        margin-top: 50px;
        p {
            text-align: center;
            font-size: 50px;
            text-shadow: 0px 0px 5px rgb(17, 11, 11)
        }
        .align-btn {
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }

    .main {
        padding: 10px;
        .proucts-main {
            display: flex;
            justify-content: center;
            padding: 20px;
            padding-bottom: 40px;
        }
    }
}
