*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


body{
    background:linear-gradient( #23232e  , #b0b0d6);
    color: #c3c3ff;
    height: 100vh;  
}


::-webkit-scrollbar{
    width: 7px;
    background: #23232e;
}
::-webkit-scrollbar-track{
    border:2px solid #23232e;
    box-shadow: inset 0 0 2.5px 2px rgba(100, 94, 94, 0.5);
}

::-webkit-scrollbar-thumb{
    background: #b0b0d6;
    border-radius: 9px;
}