.container {
    background: linear-gradient(rgb(117, 174, 207), rgb(192, 189, 179));
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    height: 450px;
    margin: 30px auto 0px auto;     
    .nada{
        color: black;
        background-color: blanchedalmond;
        padding: 20px;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        height: 100px;
        P{
            padding: 10px;
            font-size: 40px;
            text-transform: uppercase;
        }
    }

    .item {
        color: black;
        background-color: blanchedalmond;
        padding: 20px;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;

        .descricao {
            
            h3 {
                font-size: 20px;
            }
            .prod-descr{
                display: flex;
                p{
                    margin-top: 4px;
                    margin-left: 10px;
                    font-size: 15;
                }
            }
            p{
                margin-top: 15px;
                font-size: 13px;
            }
        }

        p{
            margin-top: 15px;
            font-size: 20px;
        }
       
    }
}
